.canvas {
    width: 80%;
}

.container {
    width: 100%;
    text-align: center;
}

.theremin {
    display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 1em;
}

.glabel {
    float: left;
}

.gslider {
   float: right;
   width: 80%;
}

.gslider::after {
    clear: both;
}
